.habit {
  height: 200px;
  width: 200px;
  background: #fff;
  border-radius: 20px;
  padding: 10px 30px;
  margin: 20px 10px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.habit:hover {
  transform: scale(1.05);
}

.habit__delete {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #ccc;
}

.habit__delete:hover {
  color: #777;
}

.habit h1 {
  position: absolute;
  bottom: 73px;
}

.habit h2 {
  width: 175px;
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.habit h2,
.habit h4 {
  font-weight: 400;
}

.habit h4 {
  font-size: 2.5em;
  margin: 0;
  position: absolute;
  bottom: 25px;
  left: 30px;
}

/* ======= PROGRESS BAR ======= */
.progress {
  position: absolute;
  top: 40px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress__bar-outer,
.progress__bar-inner {
  height: 125px;
  width: 20px;
}

/* Bottom */
.progress__bar-outer {
  border-radius: 15px;
  background: linear-gradient(to bottom, #7b4397, #dc2430);
  overflow: hidden;
}

/* Top */
.progress__bar-inner {
  background: #ddd;
}

.progress__btn {
  border: 0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #eee;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  outline: none;
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.progress__btn:hover {
  transform: scale(1.2);
}
